<div>
   

<div class="card" style="width: 18rem;">
<img src="{{user.profilePic}}" class="card-img-top" alt="image-perfil" width="100px">
<div class="card-body">
<h5 class="card-title">Hola, {{user.name}} ¡bienvenid@!</h5>
<a href="/client/edit-profile"><button class="btn btn-outline-primary">Editar perfil</button></a>


  {{#if suscriptionTrue}}

    <p>Tu suscripción está activa</p>
    <form action="/client/main/" method="post">
      <button class="btn btn-outline-danger">Darse de baja</button>
      <input
        type="text"
        name="suscription"
        value="true"
        style="display: none;"
      />
    </form>

</div>
</div>
</div>

    <form action="/client/main/comment" method="post">
    <div class="mb-3">
      <input type="text" name="userName" value="{{user.name}}" style="display: none;"/>
      <label for="comment" class="form-label">¿Quieres dejarnos algún comentario?</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="comment" />
      <button class="btn btn-primary">Enviar comentario</button>

      {{#if commentSucces}}
        {{commentSucces}}
      {{/if}}
    </form>

    <a href="/client/calendar"><button>Apúntate a una clase</button> </a>

<div class="card" style="width: 18rem;">
    <h3>Estas son tus clases</h3>
    {{#each classInfo}}
      <ul class="list-group list-group-flush"></ul>
      <li class="list-group-item">{{className}}</li>
      <li class="list-group-item">{{weekDay}}</li>
      <form action="/client/main/{{_id}}" method="post">

        <button>Borrate de una clase</button>
        <input
          type="text"
          name="students"
          value="{{students}}"
          style="display:none;"
        />

      </form>

    {{/each}}

  {{/if}}
   </div>

  {{#unless suscriptionTrue}}
  <div style="margin-left: 15px;">
    <form action="/client/main/" method="post">
      <p>Tu suscripción está inactiva</p>
      <button class="btn btn-outline-success">Suscríbete</button>
      <input
        type="text"
        name="suscription"
        value="false"
        style="display: none;"
      />
    </form>
    </div>
  {{/unless}}

</div>