<div>

  <div>

    <div class="card" style="width: 18rem;">
      <img src="{{user.profilePic}}" class="card-img-top" alt="image-perfil" width="100px">
      <div class="card-body">
        <h5 class="card-title">Hola, {{user.name}} ¡bienvenid@!</h5>
        <a href="/client/edit-profile"><button class="btn btn-outline-primary">Editar perfil</button></a>


        {{#if suscriptionTrue}}

        <p>Tu suscripción está activa</p>
        <form action="/client/main/" method="post">
          <button class="btn btn-outline-danger">Darse de baja</button>
          <input type="text" name="suscription" value="true" style="display: none;" />
        </form>

      </div>
    </div>

  {{/if}}
    <div style="margin-top: 10px; margin-left: 0%">
      <form action="/client/main/comment" method="post">
        <div class="mb-3">
          <input type="text" name="userName" value="{{user.name}}" style="display: none;" />
          <label for="comment" class="form-label">¿Quieres dejarnos algún comentario?</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="comment"
            style="width: 500px; heigh : 200px" />
          <button class="btn btn-primary">Enviar comentario</button>

          {{#if commentSucces}}
          {{commentSucces}}
          {{/if}}
      </form>
    </div>

    {{#unless suscriptionTrue}}
    <div style="margin-left: 15px;">
      <form action="/client/main/" method="post">
        <p>Tu suscripción está inactiva</p>
        <button class="btn btn-outline-success">Suscríbete</button>
        <input type="text" name="suscription" value="false" style="display: none;" />
      </form>
    </div>
    {{/unless}}
  </div>

<div class="d-flex flex-wrap">
  <h3 style="text-align: center; margin-top: 50px;">Estas son tus clases</h3>
  <div style="text-align: center; margin-top: 10px;">
    <a href="/client/calendar"><button>Apúntate a una clase</button></a>
  </div>
  <div style="display: flex; justify-content: space-between; flex-wrap: wrap; margin-top: 2%;">
    {{#each classInfo}}
    <div class="card" style="width: 15rem; margin-top: 10%; margin: 10px;">
      <div class="card-body">
        <p style="text-align: center;">{{className}}</p>
        <p style="text-align: center;">{{weekDay}}</p>
        <img src="{{classPic}}" alt="classPic" width="215px">
        <form action="/client/main/{{_id}}" method="post">
          <button class="btn btn-outline-danger" style="width: 200px;">Borrarse de esta clase</button>
          <input type="text" name="students" value="{{students}}" style="display:none;" />
        </form>
      </div>
    </div>
    {{/each}}
  </div>
</div>

</div>