<div>

  <h2>Hola, {{user.name}} ¡bienvenid@!</h2>

  {{#if suscriptionTrue}}

    <p>{{suscriptionTrue}}</p>
    <a href="/client/calendar"><button>Apúntate a una clase</button> </a>

    <h3>Estas son tus clases</h3>
    {{#each classInfo}}

      <li>{{className}}</li>
      <li>{{weekDay}}</li>

    {{/each}}

  {{/if}}

<form action="/client/main/{{user._id}}/{{user.suscriptionActive}}"></form>
  {{#if suscriptionFalse}}
    <p>{{suscriptionFalse}}</p>
    <button>Suscríbete</button>
  {{/if}}
 </form> 

</div>