<div>

  <h2>Hola, {{user.name}} ¡bienvenid@!</h2>

  {{#if suscriptionTrue}}

    <p>{{suscriptionTrue}}</p>
    <button>Apúntate a una clase</button>

    <h3>Estas son tus clases</h3>
    {{#each classInfo}}

      <li>{{className}}</li>
      <li>{{weekDay}}</li>

    {{/each}}

  {{/if}}

  {{#if suscriptionFalse}}
    <p>{{suscriptionFalse}}</p>

    <button>Suscríbete</button>
  {{/if}}

</div>