<div>

<div class="d-flex flex-wrap">

<div class="card" style="width: 18rem;">
<img src="{{teacher.profilePic}}" class="card-img-top" alt="image-perfil" width="100px">
<div class="card-body">
<h5 class="card-title">Hola, {{teacher.name}} ¡bienvenid@!</h5>
<a href="/teachers/edit-profile" class="btn btn-primary"><button>Editar perfil</button></a>

</div>
</div>

<div>
    <h3 style="text-align: center; margin-top: -1%;">Esta semana tienes estas clases</h3>
    
    <div style="display: flex; justify-content: space-between; flex-wrap: wrap; margin-top: 2%;">
        {{#each classInfo}}
        <div class="card" style="width: 15rem; margin-top: 10%;">
            <div class="card-body">
                <p>{{className}}</p>
                <p>{{weekDay}}</p>
                <img src="{{classPic}}" alt="classPic" width="275px">
            </div>
        </div>
        {{/each}}
    </div>
</div>