<div>

<h2>Estas son las clases de esta semana</h2>

<div>

<h3>Lunes a las 9: {{weekDetails.monday.at9.className}}</h3>
<h4>Profesor: {{weekDetails.monday.at9.teacher.name}}</h4>
<p>Alumnos apuntados:</p>
{{#each weekDetails.monday.at9.students}}
<ul>
<li>{{name}}</li>
</ul>
{{/each}}


</div>

<div>

<h3>Lunes a las 12: {{weekDetails.monday.at12.className}}</h3>
<h4>Profesor: {{weekDetails.monday.at12.teacher.name}}</h4>
<p>Alumnos apuntados:</p>
{{#each weekDetails.monday.at12.students}}
<ul>
<li>{{name}}</li>
</ul>
{{/each}}


</div>

<div>

<h3>Lunes a las 15: {{weekDetails.monday.at15.className}}</h3>
<h4>Profesor: {{weekDetails.monday.at15.teacher.name}}</h4>
<p>Alumnos apuntados:</p>
{{#each weekDetails.monday.at15.students}}
<ul>
<li>{{name}}</li>
</ul>
{{/each}}


</div>

<div>

<h3>Lunes a las 18: {{weekDetails.monday.at18.className}}</h3>
<h4>Profesor: {{weekDetails.monday.at18.teacher.name}}</h4>
<p>Alumnos apuntados:</p>
{{#each weekDetails.monday.at18.students}}
<ul>
<li>{{name}}</li>
</ul>
{{/each}}


</div>

<div>

<h3>Martes a las 9: {{weekDetails.tuesday.at9.className}}</h3>
<h4>Profesor: {{weekDetails.tuesday.at9.teacher.name}}</h4>
<p>Alumnos apuntados:</p>
{{#each weekDetails.tuesday.at9.students}}
<ul>
<li>{{name}}</li>
</ul>
{{/each}}


</div>

<div>

<h3>Martes a las 12: {{weekDetails.tuesday.at12.className}}</h3>
<h4>Profesor: {{weekDetails.tuesday.at12.teacher.name}}</h4>
<p>Alumnos apuntados:</p>
{{#each weekDetails.tuesday.at12.students}}
<ul>
<li>{{name}}</li>
</ul>
{{/each}}


</div>

<div>

<h3>Martes a las 15: {{weekDetails.tuesday.at15.className}}</h3>
<h4>Profesor: {{weekDetails.tuesday.at15.teacher.name}}</h4>
<p>Alumnos apuntados:</p>
{{#each weekDetails.tuesday.at15.students}}
<ul>
<li>{{name}}</li>
</ul>
{{/each}}


</div>

<div>

<h3>Martes a las 18: {{weekDetails.tuesday.at18.className}}</h3>
<h4>Profesor: {{weekDetails.tuesday.at18.teacher.name}}</h4>
<p>Alumnos apuntados:</p>
{{#each weekDetails.tuesday.at18.students}}
<ul>
<li>{{name}}</li>
</ul>
{{/each}}


</div>

<div>

<h3>Miércoles a las 9: {{weekDetails.wednesday.at9.className}}</h3>
<h4>Profesor: {{weekDetails.wednesday.at9.teacher.name}}</h4>
<p>Alumnos apuntados:</p>
{{#each weekDetails.wednesday.at9.students}}
<ul>
<li>{{name}}</li>
</ul>
{{/each}}


</div>

<div>

<h3>Miércoles a las 12: {{weekDetails.wednesday.at12.className}}</h3>
<h4>Profesor: {{weekDetails.wednesday.at12.teacher.name}}</h4>
<p>Alumnos apuntados:</p>
{{#each weekDetails.wednesday.at12.students}}
<ul>
<li>{{name}}</li>
</ul>
{{/each}}


</div>

<div>

<h3>Miércoles a las 15: {{weekDetails.wednesday.at15.className}}</h3>
<h4>Profesor: {{weekDetails.wednesday.at15.teacher.name}}</h4>
<p>Alumnos apuntados:</p>
{{#each weekDetails.wednesday.at15.students}}
<ul>
<li>{{name}}</li>
</ul>
{{/each}}


</div>

<div>

<h3>Miércoles a las 18: {{weekDetails.wednesday.at18.className}}</h3>
<h4>Profesor: {{weekDetails.wednesday.at18.teacher.name}}</h4>
<p>Alumnos apuntados:</p>
{{#each weekDetails.wednesday.at18.students}}
<ul>
<li>{{name}}</li>
</ul>
{{/each}}


</div>

<div>

<h3>Jueves a las 9: {{weekDetails.thursday.at9.className}}</h3>
<h4>Profesor: {{weekDetails.thursday.at9.teacher.name}}</h4>
<p>Alumnos apuntados:</p>
{{#each weekDetails.thursday.at9.students}}
<ul>
<li>{{name}}</li>
</ul>
{{/each}}


</div>

<div>

<h3>Jueves a las 12: {{weekDetails.thursday.at12.className}}</h3>
<h4>Profesor: {{weekDetails.thursday.at12.teacher.name}}</h4>
<p>Alumnos apuntados:</p>
{{#each weekDetails.thursday.at12.students}}
<ul>
<li>{{name}}</li>
</ul>
{{/each}}


</div>


<div>

<h3>Jueves a las 15: {{weekDetails.thursday.at15.className}}</h3>
<h4>Profesor: {{weekDetails.thursday.at9.teacher.name}}</h4>
<p>Alumnos apuntados:</p>
{{#each weekDetails.thursday.at9.students}}
<ul>
<li>{{name}}</li>
</ul>
{{/each}}


</div>


<div>

<h3>Jueves a las 18: {{weekDetails.thursday.at18.className}}</h3>
<h4>Profesor: {{weekDetails.thursday.at18.teacher.name}}</h4>
<p>Alumnos apuntados:</p>
{{#each weekDetails.thursday.at18.students}}
<ul>
<li>{{name}}</li>
</ul>
{{/each}}


</div>

<div>

<h3>Viernes a las 9: {{weekDetails.friday.at9.className}}</h3>
<h4>Profesor: {{weekDetails.friday.at9.teacher.name}}</h4>
<p>Alumnos apuntados:</p>
{{#each weekDetails.friday.at9.students}}
<ul>
<li>{{name}}</li>
</ul>
{{/each}}


</div>

<div>

<h3>Viernes a las 12: {{weekDetails.friday.at12.className}}</h3>
<h4>Profesor: {{weekDetails.friday.at12.teacher.name}}</h4>
<p>Alumnos apuntados:</p>
{{#each weekDetails.friday.at12.students}}
<ul>
<li>{{name}}</li>
</ul>
{{/each}}


</div>

<div>

<h3>Viernes a las 15: {{weekDetails.friday.at15.className}}</h3>
<h4>Profesor: {{weekDetails.friday.at15.teacher.name}}</h4>
<p>Alumnos apuntados:</p>
{{#each weekDetails.friday.at15.students}}
<ul>
<li>{{name}}</li>
</ul>
{{/each}}


</div>

<div>

<h3>Viernes a las 18: {{weekDetails.friday.at18.className}}</h3>
<h4>Profesor: {{weekDetails.friday.at18.teacher.name}}</h4>
<p>Alumnos apuntados:</p>
{{#each weekDetails.friday.at18.students}}
<ul>
<li>{{name}}</li>
</ul>
{{/each}}


</div>




</div>